<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>All my books</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year of pub</th>
        <th>Category</th>
      </tr>
      <tr th:each="kirja : ${kirjat}">
        <td th:text="${kirja.id}"></td>
        <td th:text="${kirja.title}"></td>
        <td th:text="${kirja.author}"></td>
        <td th:text="${kirja.yearOfPublish}"></td>
        <td th:text="${kirja.kategoria != null ? kirja.kategoria.name : 'Ei kategoriaa'}"></td>
        <td sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/editBook/{id}(id=${kirja.id})}">Muokkaa</a></td>
        <td sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/deleteBook/{id}(id=${kirja.id})}">Poista</a></td>
      </tr>
    </table>
    <span sec:authorize="hasAuthority ('ADMIN')"><a href="/add">Add book</a><br /> </span>
    <a href="/main">Back to main page</a>

    <br /><br />
    <p><a href="/initDB">Insert some demo data to database</a></p>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
    </form>
  </body>
</html>
