<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">  
  <head>
    <title>Book Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
<header>
    <div>
        <p>Welcome <i><span sec:authentication="name"></span></i></p>
    </div>

    <div>
        <form th:action="@{/logout}" method="post" class="logout-form">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
</header>
    <p>Welcome <i><span sec:authentication="name"></span></i> to book application!</p>
    <p><a href="/booklist">Show all books</a></p>
    <p><a href="/add">Insert a new book</a></p>
    <br>
    <p><a href="/categorylist">Show all categories</a></p>
    <p><a href="/addCategory">Insert a new category</a></p>
    <br></br>
    <p><a href="/initDB">Insert some demo data to database</a></p>

        <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
    </form>
  </body>
</html>
